@mixin shadow_box {
    -webkit-box-shadow: 0px 17px 50px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 17px 50px -1px rgba(0,0,0,0.31);
    box-shadow: 0px 17px 50px -1px rgba(0,0,0,0.31);
}


@mixin screen($screen_value:sm) {
    @if $screen_value == xs {
      @media only screen and (max-width: $screen-xs) { @content; }
    }
    @else if $screen_value == sm { //phone
        @media only screen and (max-width: $screen-sm) { @content; }
    }
    @else if $screen_value == md {
        @media only screen and (max-width: $screen-md) { @content; }
    }
    @else if $screen_value == lg {
        @media only screen and (max-width: $screen-lg) { @content; }
    }
}